<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uta.controllers" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginController"
            android:label="Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterController"
            android:label="Register" >
        </activity>
        <activity
            android:name=".ForgotPasswordController"
            android:label="Forgot Password" >
        </activity>
        <activity android:name=".PatientDashboardController" >
        </activity>
        <activity android:name=".PatientInformationController" >
        </activity>
        <activity android:name=".DoctorDashboardController" >
        </activity>
        <activity android:name=".MessageController" >
        </activity>
        <activity
            android:name=".AppointmentController"
            android:label="Create Appointment" >
        </activity>
        <activity
            android:name=".AppointmentListController"
            android:label="Appointments" >
        </activity>
        <activity
            android:name=".AppointmentDetailsController"
            android:label="Appointment Details" >
        </activity>
        <activity
            android:name=".MedicalRecordController"
            android:label="Medical Record" >
        </activity>
        <activity
            android:name=".SearchController"
            android:label="Search" >
        </activity>
        <activity
            android:name=".search_results"
            android:label="Search Results" >
        </activity>
        <activity
            android:name=".DoctorOrderController"
            android:label="Examine Patient" >
        </activity>
        <activity
            android:name=".MedicalReportController"
            android:label="Medical Report" >
        </activity>
        <activity android:name=".UpdatePasswordController" >
        </activity>
        <activity android:name=".DoctorOrderDetialsController" >
        </activity>
    </application>

</manifest>
